@charset "UTF-8";

body {
  background-color: rgba(0, 0, 0, 0.773);
  width: 1200px;
  margin: 0 auto;

  p {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
  }

  h1 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
  }

  .image-container {
    position: relative;
    height: 500px;
  }

  .image-1 {
    position: absolute;
    top: 70px;
    left: 300px;
  }

  .image-2 {
    position: absolute;
    bottom: 60px;
    left: 300px;
  }

  .image-3 {
    position: absolute;
    top: 70px;
    right: 290px;
  }

  .image-4 {
    position: absolute;
    bottom: 60px;
    right: 290px;
  }
}
